[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
"netcdf4" = "*"
progressbar = "*"
pandas = "*"
luigi = "*"
xarray = "*"
rasterio = "*"
pyproj = {git = "https://github.com/jswhit/pyproj.git"}
geopandas = "*"
# ldndctools = {git = "https://gitlab.com/cw_code/ldndctools.git"}

[dev-packages]
ldndctools = {git = "https://gitlab.com/cw_code/ldndctools.git"}

[requires]
python_version = "3.6"
